
<article class="blog-post all-posts">
  {% comment %}
  <div class="post-meta meta">
    <span class="post-date">{{ article.published_at | date: format: "short_month" }}</span>
    {% if settings.blog-show-author %}
      <span class="post-author">&bull; {{ article.author }}</span>
    {% endif %}
    {% if article.comments_enabled? and article.comments.size > 0 and settings.blog-show-comment-count %}
      <span class="post-comment-count">&bull; {{ 'blogs.comments.count' | t: count: article.comments_count }}</span>
    {% endif %}
    {% if article.tags.size > 0 and settings.blog-show-tags %}
      <span class="post-tags">&bull;
        {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  {% endcomment %}
  

  <div class="rte post-content">
    {% if article.image %}
      <div class="post-image">
        {% if template == 'article' %}
          {%
            include 'rimg',
            img: article.image,
            alt: article.title,
            size: '1080x640',
            lazy: true,
            canvas: true
          %}
        {% else %}
          <a href="{{ article.url }}">
            {%
              include 'rimg',
              img: article.image,
              alt: article.title,
              size: '1080x640',
              lazy: true,
              canvas: true
            %}
          </a>
        {% endif %}
      </div>
    {% endif %}
    <div class="article-tag">
      {% if article.tags contains "article" %}
      Articles
      {% elsif article.tags contains "recipes" %}
      Recipes
      {% elsif article.tags contains "playlists" %}
      Playlists
      {% endif %}
    </div>
    <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
    {% if article.excerpt != blank %}
      {{ article.excerpt }}
    {% else %}
      <p class="post-des">{{ article.content | strip_html | truncatewords: 50 }}</p>
    {% endif %}
    <p class="blog-cta">
      <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
    </p>
  </div>

</article>
