<div class="product-info">
<!-- SW removed 6/4/2021, replaced with H1 below  <div class="title product-title"></div> -->
  
  <div class="title product-title""><h1 style="
    font-size: 48px;
    font-family: GtAlpina,sans-serif;
    font-weight: 500;
    text-transform: none;
">{{ product.title }}</h1></div>
  
  {% if product.description != blank %}
    <div class="product-description">{{ product.description }}</div>
  {% endif %}
</div>