<p class="account-logged-in-as">{{ 'customers.general.logged_in_as' | t: customer_name: customer.name }} (<em>{{ 'customers.general.logout' | t | customer_logout_link }}</em>)</p>

{% if customer.addresses.size > 0 %}

  <div class="customer-addresses">

    {% paginate customer.addresses by 10 %}

      {% for address in customer.addresses %}
        <div class="customer-address" data-address-id="{{ address.id }}">
          <p>
            <span>{{ address.first_name }} {{ address.last_name }}</span><br>
            {% if address.company != blank %}
              <span>{{ address.company }}</span><br>
            {% endif %}
            {% if address.street != blank %}
              <span>{{ address.street }}</span><br>
            {% endif %}
            {% if address.city != blank or address.province_code != blank %}
              <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span><br>
            {% endif %}
            {% if address.country != blank or address.zip != blank %}
              <span>{{ address.country }} {{ address.zip }}</span><br>
            {% endif %}
            {% if address.phone != blank %}
              <span>{{ address.phone }}</span><br>
            {% endif %}
          </p>

          {% if address == customer.default_address %}<p class="customer-address-is-default">{{ 'customers.addresses.default_address_message' | t }}</p>{% endif %}

          <p class="customer-address-modify"><span class="edit-address">{{ 'customers.addresses.edit' | t }}</span> / <span class="delete-address">{{ 'customers.addresses.delete' | t }}</span></p>
        </div>

        <div class="modal-wrapper" data-address-id="{{ address.id }}">
          <div class="modal-content customer-address-edit-form" data-address-id="{{ address.id }}">
            <h2 class="modal-title">{{ 'customers.addresses.edit' | t }}</h2>

            <div class="modal-message">
              {% form 'customer_address', address %}
                <div class="input-wrapper">
                  <label>{{ 'customers.general.first_name' | t }}</label>
                  <input type="text" name="address[first_name]" value="{{ form.first_name }}">
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.general.last_name' | t }}</label>
                  <input type="text" name="address[last_name]" value="{{ form.last_name }}">
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.company' | t }}</label>
                  <input type="text" name="address[company]" value="{{ form.company }}">
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.address_1' | t }}</label>
                  <input type="text" name="address[address1]" value="{{ form.address1 }}">
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.address_2' | t }}</label>
                  <input type="text" name="address[address2]" value="{{ form.address2 }}">
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.city' | t }}</label>
                  <input type="text" name="address[city]" value="{{ form.city }}">
                </div>
                <div class="input-wrapper" id="address-province-container-{{ address.id }}" style="display:none">
                  <label>{{ 'customers.addresses.province' | t }}</label>
                  <div class="select-wrapper">
                    <select id="address-province-{{ address.id }}" name="address[province]" data-default="{{ form.province }}"></select>
                    {% include 'icon' with 'chevron-down' %}
                  </div>
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.country' | t }}</label>
                  <div class="select-wrapper">
                    <select id="address-country-{{form.id}}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                    {% include 'icon' with 'chevron-down' %}
                  </div>
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.zip' | t }}</label>
                  <input type="text" name="address[zip]" value="{{ form.zip }}">
                </div>
                <div class="input-wrapper">
                  <label>{{ 'customers.addresses.phone' | t }}</label>
                  <input type="text" name="address[phone]" value="{{ form.phone }}">
                </div>
                <div class="inline-input-wrapper">
                  <span class="checkbox-wrapper">
                    {{ form.set_as_default_checkbox }}
                    <span class="checkbox-icon">
                      {% include 'icon' with 'check' %}
                    </span>
                  </span>
                  <label for="address_default_address_{{ address.id }}">{{ 'customers.addresses.set_default' | t }}</label>
                </div>
                <div class="input-wrapper">
                  <input type="submit" id="submit-{{ form.id }}" value="{{ 'customers.addresses.submit' | t }}">
                  <input type="button"
                    class="cancel-edit button secondary modal-close"
                    value="{{ 'general.general.cancel' | t }}"
                  >
                </div>
              {% endform %}
            </div>

            <span class="modal-close modal-close-secondary">{{ 'general.general.close' | t }}</span>
          </div>
        </div>
      {% endfor %}

      {% if paginate.previous or paginate.next %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}
  </div>

  <div class="add-new-address">
    <input type="button"
      class="button toggle-new-address"
      value="{{ 'customers.addresses.add_new_address' | t }}"
    >
  </div>
{% endif %}

<div class="customer-new-address {% if customer.addresses.size == 0 %}show{% endif %}">
  {% if customer.addresses.size == 0 %}<h3>{{ 'customers.addresses.add_new_address' | t }}</h3>{% endif %}

  {% form 'customer_address', customer.new_address %}
    <div class="input-wrapper new-first-name">
      <label>{{ 'customers.general.first_name' | t }}</label>
      <input type="text" name="address[first_name]" value="{{ form.first_name }}">
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.general.last_name' | t }}</label>
      <input type="text" name="address[last_name]" value="{{ form.last_name }}">
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.company' | t }}</label>
      <input type="text" name="address[company]" value="{{ form.company }}">
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.address_1' | t }}</label>
      <input type="text" name="address[address1]" value="{{ form.address1 }}">
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.address_2' | t }}</label>
      <input type="text" name="address[address2]" value="{{ form.address2 }}">
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.city' | t }}</label>
      <input type="text" name="address[city]" value="{{ form.city }}">
    </div>
    <div class="input-wrapper" id="address-province-container" style="display:none">
      <label>{{ 'customers.addresses.province' | t }}</label>
      <div class="select-wrapper">
        <select id="address-province" name="address[province]" data-default="{{ form.province }}"></select>
        {% include 'icon' with 'chevron-down' %}
      </div>
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.country' | t }}</label>
      <div class="select-wrapper">
        <select id="address-country" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
        {% include 'icon' with 'chevron-down' %}
      </div>
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.zip' | t }}</label>
      <input type="text" name="address[zip]" value="{{ form.zip }}">
    </div>
    <div class="input-wrapper">
      <label>{{ 'customers.addresses.phone' | t }}</label>
      <input type="text" name="address[phone]" value="{{ form.phone }}">
    </div>
    <div class="inline-input-wrapper">
      <span class="checkbox-wrapper">
        {{ form.set_as_default_checkbox }}
        <span class="checkbox-icon">
          {% include 'icon' with 'check' %}
        </span>
      </span>
      <label for="address_default_address_new">{{ 'customers.addresses.set_default' | t }}</label>
    </div>
    <div class="input-wrapper">
      <input type="submit" id="submit-{{ form.id }}" value="{{ 'customers.addresses.submit' | t }}">
      {% if customer.addresses.size > 0 %}
        <input type="button"
          class="toggle-new-address button secondary"
          value="{{ 'general.general.cancel' | t }}"
        >
      {% endif %}
    </div>
  {% endform %}
</div>
