<p class="successful-reset">{{ 'customers.login.reset_password_message_after' | t }}</p>

<div class="customer-login">

  {% section 'login' %}

</div>

<div class="recover-password">
  
  {% section 'forgot-password' %}

</div>


{% comment %}
{% if shop.checkout.guest_login %}
  <div class="guest-checkout">
    <h3 class="section-title">{{ 'customers.guest_checkout.section_title' | t }}</h3>
    {% form 'guest_login' %}
      <p>{{ 'customers.guest_checkout.message' | t }}</p>
      <input type="submit" value="{{ 'customers.guest_checkout.submit' | t }}" />
    {% endform %}
  </div>
{% else %}
  <div class="new-customer">
    <h4>{{ 'customers.new_customer.section_title' | t }}</h3>
    <p>{{ 'customers.new_customer.message' | t }}</p>
    <a href="{{ routes.account_register_url }}">
      <input type="button"
        class="button secondary"
        value="{{ 'customers.register.submit' | t }}"
      >
    </a>
  </div>
{% endif %}
{% endcomment %}
