<!doctype html>
<html class="no-js no-touch {{ template.directory }}">
<head>
  <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/OsLcJvj7sTMQtIrs54ptjQHGk86hGPUhpeccDRCr/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
  <!-- Hotjar Tracking Code for https://gratsi.com added by SW 7/22/2021-->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2517471,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  
<meta name="google-site-verification" content="en0RGhLC0OymyQdp0P4O5zXP9V8A5MFhtBFWuNkfg2M" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; {{ 'blogs.blog.seo_title' | t }} "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width" />

  {{ content_for_header }}

  {% assign twitter_handle = settings.social-twitter-url | split: 'twitter.com/' | last %}
  {%
    include 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

  <!-- Theme object -->
  {% include 'theme-options' %}

{% include 'sca.freegifts' %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/PYUOzAm9rL82wAro-e5B-A" async></script>
</head>

{% assign sidebar = false %}
{% if settings.enable-sidebar == 'all' %}
  {% if template contains 'index' %}
    {% assign sidebar = true %}
  {% elsif template contains 'collection' %}
    {% assign sidebar = true %}
  {% endif %}
{% elsif settings.enable-sidebar == 'not-home' and template contains 'collection' %}
  {% assign sidebar = true %}
{% endif %}

{% if sidebar
  and settings.sidebar-link-list-1 == blank
  and settings.sidebar-link-list-2 == blank
  and settings.sidebar-link-list-3 == blank
%}
  {% assign sidebar = false %}
{% endif %}

<body id="{{ page_title | handle }}" class="
  {% if customer %}customer-logged-in{% endif %}
  sidebar-{% if sidebar %}enabled{% else %}disabled{% endif %}
  template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
  template-{{ template.name }}-{{ template.suffix }}
">
  <script>
    window.Pacific = {};
    Pacific.settings = {{ settings | json }};
    document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
    if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
  </script>
  {% section 'pxs-announcement-bar' %}
  {% section 'header' %}

  <div class="main-content-wrapper">
    <div class="main-content">
      {% unless template contains 'index' %} 
        {% if template.suffix != 'about' and template != 'blog' and template != 'article' and template != 'page.faqs' and template != 'page.generic' and template != 'page.yotpo-loyalty' %}
          <div class="page-header">
            {% include 'page-header' %}
          </div>
        {% endif %}
      {% endunless %}
      {{ content_for_layout }}
    </div>

    {% if sidebar %}
      {% include 'sidebar' %}
    {% endif %}
  </div>

  {% section 'promotions' %}
  {% section 'footer' %}

  {% render 'mini-cart' %}
  <div data-bg></div>
  <!-- Scripts -->
  
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SqHc34"></script>
  <script
    src="{{ 'pacific.js' | asset_url }}"
    data-scripts
    data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
    data-shopify-common-url="{{ 'shopify_common.js' | shopify_asset_url }}"
    data-jquery-currencies-url="{{ 'jquery.currencies.js' | asset_url }}"
    data-jquery-templates-url="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"
    data-jquery-cart-url="{{ 'jquery.cart.min.js' | asset_url }}"
    data-countries-url="/services/javascripts/countries.js"
    data-customer-area-url="{{ 'customer_area.js' | shopify_asset_url }}"
    data-slider-url="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    data-custom-event-url="{{ 'custom.js' | asset_url }}"

  ></script>

  <script src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>

  <script>
    KlaviyoSubscribe.attachToForms('#email_signup', {
      hide_form_on_success: true,
      extra_properties: {
        hide_form_on_success: false,
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text'
      }
    });
  </script>

  <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
  </script>
 {% include 'smile-initializer' %}
	
 
<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
<!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=15695"></script>
<script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->
</body>
</html>
