<div class="section_container">
  <div class="main_content home-module-content">
    {% assign bannerType = section.settings.banner_type %}
    <div class="hero-banner-wrapper layout-{{ bannerType }}">
      <div class="image_wrapper">
        {% assign image = section.settings.image %}
        {% assign mob_image = section.settings.mob_image | default: image %}
        {% render 'rimg', img: image, size: '1440x640', lazy: true, class: 'hide--mobile' %}
        {% render 'rimg', img: image, size: '1440x640', lazy: true, class: 'hide--desktop' %}
      </div>
      <div class="text_wrapper" {% if bannerType == 'grid' %}style="background:{{ section.settings.bg }}"{% endif %}>
        <div class="content-pos {{ section.settings.content_pos }} text-align-{{ section.settings.text_align }}" style="max-width: {{ section.settings.content_width }}%">
          {% if section.settings.title != blank %}
            <div class="title" {% if bannerType == 'grid' %}style="color:{{ section.settings.text_color }}"{% endif %}>{{ section.settings.title }}</div>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="text" {% if bannerType == 'grid' %}style="color: {{ section.settings.text_color }}"{% endif %}>{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
            <div class="btn_wrapper">
              <a href="{{ section.settings.btn_link }}" class="btn btn-{{ section.settings.btn_type }} {% if section.settings.btn_transparent %}btn-transparent{% endif %}">{{ section.settings.btn_label }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div> 

{% schema %}
{
  "name": "Hero banner",
  "class": "hero-banner",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "banner_type",
      "options": [
        {
          "value": "banner",
          "label": "Banner"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "grid",
      "label": "Banner type"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (Mobile)"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "id": "content_pos",
      "default": "middle",
      "label": "Content position"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "id": "text_align",
      "default": "left",
      "label": "Text alignment"
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 30,
      "max": 100,
      "unit": "%",
      "step": 1,
      "default": 65,
      "label": "Content width"
    },
    {
      "type": "paragraph",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "btn_type",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "label": "Button type",
      "default": "white"
    },
    {
      "type": "checkbox",
      "id": "btn_transparent",
      "label": "Enable transparent?"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "info": "This will be enabled when header type is grid"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow"
    }
  ]
}
{% endschema %}