<div class="section_container">
  <div class="main_content">
    <div class="card_wrapper" data-mob-slider>
      {% for block in section.blocks %}
        <div class="card-item">
          <div class="card-item-wrapper">
            <div class="text_wrapper">
              <div class="title">{{ block.settings.title }}</div>
              <div class="subtitle">{{ block.settings.subtitle }}</div>
              <div class="text">{{ block.settings.text }}</div>
              {% if block.settings.btn_label != blank and block.settings.btn_link != blank %}<div class="btn_wrapper"><a href="{{ block.settings.btn_link }}">{{ block.settings.btn_label }}</a></div>{% endif %}
            </div>
            <div class="image_wrapper">
              {% assign image = block.settings.image %}
              {% assign mob_image = block.settings.mob_image | default: image %}
              {% render 'rimg', img: image, size: '1200x1200', lazy: true, class: 'hide--mobile' %}
              {% render 'rimg', img: image, size: '600x600', lazy: true, class: 'hide--desktop' %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Card",
  "tag": "section",
  "class": "card-grid",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mob_image",
          "label": "Image (mobile)"
        },
        {
          "type": "color",
          "id": "bg",
          "label": "Background"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "paragraph",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Grid",
      "name": "Card"
    }
  ]
}
{% endschema %}