<div class="section_container">
  <div class="main_wrapper">
    <div class="image_wrapper">
      {% assign image = section.settings.image %}
      {% assign mob_image = section.settings.mob_image | default: image %}
      {% render 'rimg', img: image, size: '2000x2000', lazy: true, class: 'hide--mobile' %}
      {% render 'rimg', img: image, size: '640x640', lazy: true, class: 'hide--desktop' %}
    </div>
    <div class="text_wrapper">
      <div class="home-module-content">
        {% if section.settings.title != blank %}
          <div class="title">{{ section.settings.title }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Banner",
  "tag": "section",
  "class": "collection-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}