<div class="section_container">
  <div class="page-logo hide--mobile">{% render 'icon' with 'page-logo' %}</div>
  <div class="main_content home-module-content">
    <div class="main_wrapper">
      {% if section.settings.title != blank %}
        <div class="title">{{ section.settings.title }}</div>
      {% endif %}
      {% if section.settings.content != blank %}
        <div class="text">{{ section.settings.content }}</div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Richtext",
  "tag": "section",
  "class": "custom-richtext",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}