<div class="section_container">
  <div class="main_content home-module-content">
    <div class="main_wrapper">
      {% for block in section.blocks %}
        <div class="d-flex image-with-text-block {% if block.settings.image_pos == 'right' %}reversed{% endif %}">
          <div class="image_wrapper">{% include 'rimg', img: block.settings.image, size: '1440x640', lazy: true %}</div>
          <div class="text_wrapper">
            <div class="title">{{ block.settings.title }}</div>
            <div class="text">{{ block.settings.content }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text block",
  "tag": "section",
  "class": "image-with-text-block",
  "settings": [
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_pos",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "default": "left",
          "label": "Image position"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}