<div class="section_container">
  <div class="main_content home-module-content">
    <div class="main_wrapper">
      {% if section.settings.image != blank %}
        <div class="image_wrapper">{% include 'rimg', img: section.settings.image, size: '1440x640', lazy: true %}</div>
      {% endif %}
      <div class="banner d-flex">
        <div class="banner_title">{{ section.settings.title }}</div>
        <div class="btn_wrapper">
          <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "custom-image-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ]
}
{% endschema %}