<!--Gorgias Chat Widget Start-->
<script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=15695"></script>
<!--Gorgias Chat Widget End--> <meta charset="utf-8" />
<div class="faqs-section">
  <div class="faqs-header">
    <div class="header-bg">
      <img src="{{ section.settings.header-bg | img_url: "master"}}">
    </div>
    <div class="header-title">
      <div>{{ section.settings.header-title }}</div>
    </div>
  </div>
  <div class="faqs-banner">
    <div class="banner-content">
      <div class="faqs-banner-title">
        {{ section.settings.faqs-banner-title }}
      </div>
      <ul class="faqs-banner-lists">
        <li>{{ section.settings.faqs-banner-first }}</li>
        <li>{{ section.settings.faqs-banner-second }}</li>
        <li>{{ section.settings.faqs-banner-third }}</li>
        <li>{{ section.settings.faqs-banner-fourth }}</li>
      </ul>
    </div>
  </div>
  <div class="faqs-content">
    {% for block in section.blocks %}
    <div class="faqs-item">
      <div class="faqs-item-title">
        {{ block.settings.faqs-ques }}
      </div>
      <div class="faqs-item-des">
        {{ block.settings.faqs-answer }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="faqs-info">
    <div class="faqs-content-title">
      {{ section.settings.faqs-content-title }}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Faq Section",
    "settings": [
		{
			"type": "image_picker",
			"id": "header-bg",
			"label": "Header Background"
		},
		{
			"type": "textarea",
			"id": "header-title",
			"label":"Header Title"
		},
		{
			"type": "textarea",
			"id": "faqs-banner-title",
			"label":"Banner Title"
		},
		{
			"type": "textarea",
			"id": "faqs-banner-first",
			"label":"First Banner"
		},
		{
			"type": "textarea",
			"id": "faqs-banner-second",
			"label":"Second Banner"
		},
		{
			"type": "textarea",
			"id": "faqs-banner-third",
			"label":"Third Banner"
		},
		{
			"type": "textarea",
			"id": "faqs-banner-fourth",
			"label":"Fourth Banner"
		},
		{
			"type": "textarea",
			"id": "faqs-content-title",
			"label":"Content Title"
		}
	],
	"blocks": [
		{
			"type": "faqs_item",
			"name": "Faqs Item",
			"settings": [
				{
					"type": "textarea",
					"id": "faqs-ques",
					"label": "Faqs Question"
				},
				{
					"type": "textarea",
					"id": "faqs-answer",
					"label": "Faqs Answer"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
