<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
</style>

<div class="main_wrapper home-module-content">
  {% if section.settings.title != blank %}
    <div class="section__header">
      <h2 class="title">{{ section.settings.title }}</h2>
    </div>
  {% endif %}
  {% if section.blocks.size > 0 %}
    <div class="featured-review-wrapper" data-mob-slider data-dots data-dots-white>
      {% for block in section.blocks %}
        <div class="review-item">
          {% if block.settings.author != blank %}
            <div class="author">{{ block.settings.author }}</div>
          {% endif %}
          {% if block.settings.title != blank %}
            <div class="title">{{ block.settings.title }}</div>
          {% endif %}
          <div class="icon">{% render 'icon' with 'stars' %}</div>
          {% if block.settings.content != blank %}
            <div class="content">{{ block.settings.content }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured reviews",
  "class": "section-featured-reviews",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured reviews"
    }
  ]
}
{% endschema %}