{%- assign currency_selector = section.settings.show_currency_selector -%}
{%- assign locale_selector = section.settings.show_locale_selector -%}

<div data-section-id="{{ section.id }}" data-section-type="footer">

  {% assign modulesCount = 0 %}
  {% for block in section.blocks %}
    {% assign modulesCount = modulesCount | plus: 1 %}
  {% endfor %}

  <div class="main-footer-wrapper">
    <footer class="main-footer {% if modulesCount > 0 %}has-border{% endif %}">

      {% if modulesCount > 0 %}
        <div class="footer-modules showing-{{ modulesCount }}-modules">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'menus' -%}
                {% render 'footer-link-lists', block: block, logo: section.settings.footer_logo %}
              {%- when 'featured-content' -%}
                {% include 'footer-text-box' %}
              {%- when 'tweet' -%}
                {% include 'footer-tweet' %}
              {%- when 'connect' -%}
                {% include 'footer-connect' %}
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="sub-footer">
        {% comment %}
        <div class="sub-footer__cross-border">
          {% comment %}cross-border{% endcomment %}
          {% form 'localization' %}
            {% if locale_selector and form.available_locales.size > 1 %}
              {% comment %}multi-language{% endcomment %}
              <div class="selectors-form__item">
                <div class="disclosure" data-disclosure-locale>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ form.current_locale.endonym_name }}
                  </button>
                  <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                    {% for locale in form.available_locales %}
                      <li>
                        <a class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                          <span class="disclosure-list__option">{{ locale.endonym_name }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {% endif %}
          
            {% if currency_selector and form.available_currencies.size > 1 %}
              {% comment %}multi-currency{% endcomment %}
              <div class="selectors-form__item">
                <div class="disclosure" data-disclosure-currency>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                  </button>
                  <ul id="currency-list" class="disclosure-list" data-disclosure-list>
                    {% for currency in form.available_currencies %}
                      <li>
                        <a class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                          <span class="disclosure-list__option">{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {% endif %}
          {% endform %}
          {% if shop.enabled_payment_types.size > 0 and section.settings.show-payment-options %}
            <div class="payment-options">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% endcomment %}
        <div class="footer_copyright">
          {% render 'social' %}
          <div class="text_copyright">{{ section.settings.bottom_text }}</div>
        </div>
        {% comment %}
        <div class="sub-footer__copyright">
          {% capture year %}
            {{ "now" | date: "%Y" }}
          {% endcapture %}

          {% capture shopName %}{{ shop.name | link_to: routes.root_url }}{% endcapture %}

          <p role="contentinfo">
            {{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }}<br>
            {{ powered_by_link }}.
          </p>
        </div>
        {% endcomment %}
      </div>
    </footer>
  </div>
  <div class="footer-end"></div>

  <div class="modal-wrapper">
    <div class="modal-content">
      <h2 class="modal-title"></h2>

      <div class="modal-message rte"></div>

      <span class="modal-close modal-close-secondary">{{ 'general.general.close' | t }}</span>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "html",
      "id": "footer_logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "richtext",
      "id": "bottom_text",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "show-payment-options",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menus",
      "name": "Menus",
      "settings": [
        {
          "type": "link_list",
          "id": "footer-link-list-1",
          "label": "Menu 1",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "link_list",
          "id": "footer-link-list-2",
          "label": "Menu 2",
          "info": "This menu won't show dropdown items."
        }
      ],
      "limit": 1
    },
    {
      "type": "featured-content",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "footer-text-box",
          "label": "Text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ],
      "limit": 1
    },
    {
      "type": "tweet",
      "name": "Twitter feed",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Twitter feed"
        },
        {
          "type": "text",
          "id": "twitter-id",
          "label": "Username",
          "info": "Note: Don't include the '@' symbol."
        },
        {
          "type": "checkbox",
          "id": "twitter-retweets",
          "label": "Show retweets"
        }
      ],
      "limit": 1
    },
    {
      "type": "connect",
      "name": "Newsletter / social links",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "show-mailing-list",
          "label": "Show newsletter"
        },
        {
          "type": "checkbox",
          "id": "show-social-links",
          "label": "Show social links"
        }
      ],
      "limit": 1
    }
  ]
}

{% endschema %}