<div class="form_section_wrapper">

  <div class="text_wrapper">
    {% if section.settings.title != blank %}
      <div class="title">{{ section.settings.title }}</div>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="text">{{ section.settings.text }}</div>
    {% endif %}
  </div>

  <div class="form_wrapper">

    {% form 'recover_customer_password' %}

      {% comment %}<p>{{ 'customers.login.reset_password_message_before' | t }}</p>{% endcomment %}

      {% if form.posted_successfully? %}
        <span class="reset-check" data-successful-reset="true"></span>
      {% endif %}

      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'general.general.email' | t }}" value="{{ form.email }}" name="email" class="{% if form.errors %}error{% endif %}">
        <label>{{ 'general.general.email' | t }}</label>

        {% if form.errors %}
          <p class="error-message">{{ form.errors.messages['form'] }}</p>
        {% endif %}
      </div>

      <div class="action_wrapper">
        <input type="submit" value="{{ 'customers.reset_password.submit' | t }}">
        <div>
          <p class="toggle-forgetfulness"><span>{{ 'general.general.cancel' | t }}</span></p>
        </div>
      </div>

    {% endform %}
    
  </div>

</div>

{% schema %}
{
  "name": "Forgot Password",
  "tag": "section",
  "class": "section-forgot-password",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}