<div class="gallery-section">
  <div class="home-module-content">
    {% assign gallery_count = 0 %}
    {% for block in section.blocks %}
    <div class="gallery-item">
      {% assign gallery_count = gallery_count | plus: 1%}
      <img src="{{ block.settings.image | img_url: "master" }}">
    </div>
    {% endfor %}
  </div>
</div>

<style>
  .gallery-section .home-module-content {
	display: flex;
    flex-wrap: wrap;
  }
  .gallery-item {
    text-align: center;
  }
  .gallery-item img {
  	max-width: 50%;
    margin: 0 auto;
    display: block;
  }
  {% if gallery_count == 2 %}
  .gallery-item {
    width: 50%;
  }
  {% endif %}
  {% if gallery_count == 3 %}
  .gallery-item {
    width: 33.33%;
  }
  {% endif %}
  {% if gallery_count == 4 %}
  .gallery-item {
    width: 25%;
  }
  {% endif %}
  @media(max-width: 767px){
    .gallery-item {
      width: 50%;
    }
  }
</style>
{% schema %}
  {
    "name": "New Gallery",
    "settings": [],
	"blocks": [
		{
          "type": "feature",
          "name": "Image",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
          ]
        }
	],
	"presets": [
        {
          "category": "Image",
          "name": "New Gallery",
          "blocks": [
            {
              "type": "feature"
            },
            {
              "type": "feature"
            }
          ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
