<div class="section_container">
  <div class="main_content home-module-content">
    <div class="main_wrapper {% if section.settings.image_pos == 'right' %}reversed{% endif %}">
      <div class="image_wrapper">
        {% assign image = section.settings.image %}
        {% assign mob_image = section.settings.mob_image | default: image %}
        {% render 'rimg', img: image, size: '1440x1440', lazy: true, class: 'hide--mobile' %}
        {% render 'rimg', img: image, size: '640x640', lazy: true, class: 'hide--desktop' %}
      </div>
      <div class="text_wrapper" style="background: {{ section.settings.bg }}">
        <div class="title">{{ section.settings.title }}</div>
        <div class="text">{{ section.settings.text }}</div>
        {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
          <div class="btn_wrapper">
            <a class="btn btn-{{ section.settings.btn_type }} {% if section.settings.btn_transparent %}btn-transparent{% endif %}" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "class": "image-with-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "id": "image_pos",
      "default": "left",
      "label": "Image position"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "transparent"
    },
    {
      "type": "paragraph",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "btn_type",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "label": "Button type",
      "default": "white"
    },
    {
      "type": "checkbox",
      "id": "btn_transparent",
      "label": "Enable transparent?"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text"
    }
  ]
}
{% endschema %}