<div class="section_container" style="background: {{ section.settings.bg }}">
  <div class="main_content home-module-content">
    <div class="section_header">
      <div class="title">{{ section.settings.title }}</div>
      <div class="text">{{ section.settings.content }}</div>
    </div>
    <div class="section_content">
      <div class="text-list">
        <div class="block_header title">{{ section.settings.block_title }}</div>
        <div class="block_wrapper">
          {% for block in section.blocks %}
            <div class="block_item">
              <div class="block_title">{{ block.settings.title }}</div>
              <div class="block_text">{{ block.settings.content }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="image_wrapper">
        {% assign image = section.settings.image %}
        {% assign mob_image = section.settings.mob_image | default: image %}
        {% render 'rimg', img: image, size: '1200x1200', lazy: true, class: 'hide--mobile' %}
        {% render 'rimg', img: image, size: '600x600', lazy: true, class: 'hide--desktop' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text list",
  "tag": "section",
  "class": "image-with-text-list",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "text",
      "id": "block_title",
      "label": "Block title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text list"
    }
  ]
}
{% endschema %}