<div class="form_section_wrapper">

  <div class="text_wrapper">
    {% if section.settings.title != blank %}
      <div class="title">{{ section.settings.title }}</div>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="text">{{ section.settings.text }}</div>
    {% endif %}
  </div>

  <div class="form_wrapper">
    {% form 'customer_login' %}

    {% if form.errors %}
      <p class="error-message banner">{{ 'customers.login.error' | t }}</p>
    {% endif %}

    <div class="input-wrapper">
      <input type="text" id="email" placeholder="{{ 'general.general.email' | t }}" value="{{ form.email }}" name="customer[email]">
      <label for="email">{{ 'general.general.email' | t }}</label>
    </div>

    <div class="input-wrapper">
      <input type="password" id="password" name="customer[password]" placeholder="{{ 'general.general.password' | t }}">
      <label for="password">{{ 'general.general.password' | t }}</label>
    </div>

    <div class="action_wrapper">
      <input type="submit" value="SIGN IN" />
      <div>
        <p><a href="{{ routes.account_register_url }}">Create Account</a></p>
        <p class="toggle-forgetfulness"><span>Forgot your password?</span></p>
      </div>
      
    </div>

    {% endform %}
  </div>

</div>

{% schema %}
{
  "name": "Login",
  "tag": "section",
  "class": "section-login",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}