{% if section.settings.image != blank %}

<div class="section_container">
  <div class="main_content">
    <div class="main_wrapper">
      <div class="image_wrapper">
        {% assign image = section.settings.image %}
        {% assign mob_image = section.settings.mob_image | default: image %}
        {% render 'rimg', img: image, size: '1440x1440', lazy: true, class: 'hide--mobile' %}
        {% render 'rimg', img: mob_image, size: '640x640', lazy: true, class: 'hide--desktop' %}
      </div>
      <div class="content_wrapper">
        {% if section.settings.icon != blank %}
          <div class="page_logo">{{ section.settings.icon }}</div>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="subtitle">{{ section.settings.subtitle }}</div>
        {% endif %}
        <div class="actions">
          {% if section.settings.btn_label1 != blank and section.settings.btn_link1 != blank %}
            <div class="btn_wrapper">
              <a class="btn btn-{{ section.settings.btn_type1 }} {% if section.settings.btn_transparent1 %}btn-transparent{% endif %}" href="{{ section.settings.btn_link1 }}">{{ section.settings.btn_label1 }}</a>
            </div>
          {% endif %}
          {% if section.settings.btn_label2 != blank and section.settings.btn_link2 != blank %}
            <div class="btn_wrapper">
              <a class="btn btn-{{ section.settings.btn_type2 }} {% if section.settings.btn_transparent2 %}btn-transparent{% endif %}" href="{{ section.settings.btn_link2 }}">{{ section.settings.btn_label2 }}</a>
            </div>
          {% endif %}
        </div>
        {% if section.settings.footer_text != blank %}
          <div class="footer_text">{{ section.settings.footer_text }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endif %}

{% schema %}
{
  "name": "Page Entry",
  "tag": "section",
  "class": "page-entry",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (Mobile)"
    },
    {
      "type": "html",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "SUbtitle"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "text",
      "id": "btn_label1",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link1",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "btn_type1",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "label": "Button type",
      "default": "white"
    },
    {
      "type": "checkbox",
      "id": "btn_transparent1",
      "label": "Enable transparent?"
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "text",
      "id": "btn_label2",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link2",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "btn_type2",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "label": "Button type",
      "default": "black"
    },
    {
      "type": "checkbox",
      "id": "btn_transparent2",
      "label": "Enable transparent?"
    },
    {
      "type": "richtext",
      "id": "footer_text",
      "label": "Footer Text"
    }
  ]
}
{% endschema %}