<div class="section-hero_title" id="top">
  <div class="hero-section">
    <div class="hero_bg">
      <img src="{{ section.settings.hero_bg | img_url: "master"}}">
    </div>
    <div class="hero_title">
      <div>{{ page.title }}</div>
    </div>
  </div>
  <div class="content-section">
    {{ page.content }}
    <a href="#top" class="back_btn">BACK TO Top</a>
  </div>
</div>
{% schema %}
  {
    "name": "Hero Title",
    "settings": [
		{
			"type": "image_picker",
			"id": "hero_bg",
			"label": "Background Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
