<div class="main-header-wrapper">
  <header class="main-header clearfix" role="banner">

    {%- assign logo = section.settings.image -%}
    {%- assign logoMaxWidth = section.settings.logo_max_width | escape -%}

    <div class="branding">
      {% if logo != blank %}
        <h1 class="site-title site-title-logo">
          <a class="logo" href="{{ routes.root_url }}">
            {% capture logo_style %}
              max-width: {{ logoMaxWidth }}px;
            {% endcapture %}

            {%
              include 'rimg',
              img: logo,
              alt: shop.name,
              size: '400x200',
              style: logo_style
            %}
          </a>
        </h1>
      {% else %}
        <div class="site-title"><a href="{{ routes.root_url }}">{{ shop.name }}</a></div>
      {% endif %}
    </div>

  </header>
</div>

<div class="main-content-wrapper">

  <div class="main-content">
    <script
      type="application/json"
      data-section-type="password"
      data-section-id="{{ section.id }}"
    ></script>

    <h2>{{ 'password.general.opening_soon' | t }}</h2>

    {% if shop.password_message != blank %}
      <p>{{ shop.password_message }}</p>
    {% endif %}

    <div class="password-subscribe-wrapper visible">
      {% form 'customer', class: 'password-subscribe-form' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'password.general.subscribe_form_success' | t }}</p>
        {% else %}
          {% if section.settings.newsletter_text != blank %}
            {{ section.settings.newsletter_text }}
          {% endif %}

          <input class="password-input" type="text" name="contact[email]" id="email" placeholder="{{ 'general.general.email_placeholder' | t }}">
          <input class="submit password-button" name="commit" type="submit" value="{{ 'password.general.subscribe' | t }}">
          <input type="hidden" name="contact[tags]" value="prospect, password page">
        {% endif %}
      {% endform %}
    </div>

    <div class="password-form-wrapper">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="{% if form.errors %}has-errors{% endif %}" data-password-form-inner>
          <input class="password-input" type="password" name="password" id="password" placeholder="{{ 'password.general.use_password' | t }}" autofocus>
          <input class="submit password-button" name="submit" type="submit" value="{{ 'password.general.submit' | t }}">
        </div>
      {% endform %}
    </div>

    <a class="password-entry" href="#" data-enter-password="{{ 'password.general.use_password' | t }}" data-cancel="{{ 'password.general.cancel' | t }}">{{ 'password.general.use_password' | t }}</a>

  </div>

</div>

{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo image",
      "info": "450 x 200px .jpg recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Logo max width",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "px",
      "default": 200
    },
    {
      "type": "header",
      "content": "Newsletter Text"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text"
    }
  ]
}

{% endschema %}