<div class="main_content home-module-content">
  <div class="product-grid-wrapper" data-mob-slider data-dots data-dots-black>
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
      <div class="product-grid-item">
        <div class="image_wrapper">
          <a href="{{ product.url }}">{% render 'rimg', img: product.featured_image, size: '1440x640', lazy: true %}</a>
        </div>
        <div class="info_wrapper">
          <div class="grid-item-title title">{{ block.settings.title | default: product.title }}</div>
          {% if block.settings.desc != blank %}
            <div class="grid-item-desc">{{ block.settings.desc }}</div>
          {% endif %}
          {% if section.settings.show_btn %}
            <div class="btn_wrapper">
              <a href="{{ product.url }}" class="btn btn-black btn-transparent">{{ section.settings.btn_label }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Product block",
  "class": "section-product-block",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_btn",
      "label": "Show button",
      "default": true
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label",
      "default": "SHOP NOW"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "product",
      "name": "Product blocks"
    }
  ]
}
{% endschema %}