<div class="form_section_wrapper">

  <div class="text_wrapper">
    {% if section.settings.title != blank %}
      <div class="title">{{ section.settings.title }}</div>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="text">{{ section.settings.text }}</div>
    {% endif %}
  </div>

  <div class="form_wrapper">

    {% form 'create_customer' %}

      {% if form.errors %}
        {{ form.errors | default_errors }}
      {% endif %}

      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'customers.general.first_name' | t }}" value="{{ form.first_name }}" name="customer[first_name]">
        <label for="customer[first_name]">{{ 'customers.general.first_name' | t }}</label>
      </div>

      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'customers.general.last_name' | t }}" value="{{ form.last_name }}" name="customer[last_name]">
        <label for="customer[last_name]">{{ 'customers.general.last_name' | t }}</label>
      </div>

      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'general.general.email' | t }}" value="{{ form.email }}" name="customer[email]">
        <label for="customer[email]">{{ 'general.general.email' | t }}</label>
      </div>

      <div class="input-wrapper">
        <input type="password" placeholder="{{ 'general.general.password' | t }}" value="" name="customer[password]">
        <label for="customer[password]">{{ 'general.general.password' | t }}</label>
      </div>

      <div class="action_wrapper">
        <input type="submit" value="{{ 'customers.register.submit' | t }}">
        <div>
          <p><a href="{{ routes.account_login_url }}">Back to sign in</a></p>
        </div>
      </div>

    {% endform %}
  
  </div>

</div>


{% schema %}
{
  "name": "Register",
  "tag": "section",
  "class": "section-register",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}