<div class="section_container" style="background: {{ section.settings.bg }}">
  <div class="main_content home-module-content">
    <div class="main_wrapper">
      <div class="text">{{ section.settings.text }}</div>
      <div class="author">{{ section.settings.author }}</div>
    </div>
    <div class="bg_icon">
      {{ section.settings.icon }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Simple Text",
  "tag": "section",
  "class": "simple-text",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author"
    },
    {
      "type": "html",
      "id": "icon",
      "label": "Icon"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Simple Text"
    }
  ]
}
{% endschema %}