<div class="article-header">
  <div class="article-tag">
    {% if article.tags contains "article" %}
    Articles
    {% elsif article.tags contains "recipes" %}
    Recipes
    {% elsif article.tags contains "playlists" %}
    Playlists
    {% endif %}
  </div>
  <div class="article-title">
    {{ article.title }}
  </div>
  <div class="rte post-content">
    {% if article.image %}
    <div class="post-image">
      {%
            include 'rimg',
      img: article.image,
      alt: article.title,
      size: '1024x1024',
      lazy: true
      %}
    </div>
    {% endif %}
  </div>
</div>
<div class="main_content home-module-content">
  <div class="blog-post">
    <div class="publish-date">
      Posted on
      <br>
      {{ article.created_at | date: "%B %d, %Y" }}
      <br>
      <div style="font-weight: bold;padding-top: 5px">{{ article.author }}</div>
    </div>
	<div class="article-content">
      {{ article.content }}
      {% comment %}
      <div class="post-meta meta">
        <span class="post-date">{{ article.published_at | date: format: 'short_month' }}</span>
        {% if settings.blog-show-author %}
        <span class="post-author">&bull; {{ article.author }}</span>
        {% endif %}
        {% if article.tags.size > 0 and settings.blog-show-tags %}
        <span class="post-tags">&bull;
          {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>
          {% endfor %}
        </span>
        {% endif %}
      </div>
      {% endcomment %}
    </div>
  </div>

  {% include 'share-buttons' %}

  <div class="related-posts">
    <div class="related-post-title">Related Posts</div>
    <div class="related-lists">
    {% for article in blog.articles limit: 4 %}
      {% if article.tags contains 'article' %}
      <div class="post-content">
            {% if article.image %}
            <div class="post-image">
              {% if template == 'article' %}
              {%
                include 'rimg',
              img: article.image,
              alt: article.title,
              size: '1080x640',
              lazy: true,
              canvas: true
              %}
              {% else %}
              <a href="{{ article.url }}">
                {%
                  include 'rimg',
                img: article.image,
                alt: article.title,
                size: '1080x640',
                lazy: true,
                canvas: true
                %}
              </a>
              {% endif %}
            </div>
            {% endif %}
            <div class="article-tag">
              {% if article.tags contains "article" %}
              Articles
              {% elsif article.tags contains "recipes" %}
              Recipes
              {% elsif article.tags contains "playlists" %}
              Playlists
              {% endif %}
            </div>
            <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
            {% if article.excerpt != blank %}
            {{ article.excerpt }}
            {% else %}
            <p class="post-des">{{ article.content | strip_html | truncatewords: 50 }}</p>
            {% endif %}
            <p class="blog-cta">
              <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
            </p>
          </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  
  {% if blog.next_article or blog.previous_article %}
  <div class="single-post-pagination clearfix">
    <div class="previous-post">
      {% if blog.previous_article %}<a href="{{ blog.previous_article }}">{% else %}<span>{% endif %}
      {{ 'blogs.article_pagination.previous' | t }}
      {% if blog.previous_article %}</a>{% else %}</span>{% endif %}
    </div>
    <div class="next-post">
      {% if blog.next_article %}<a href="{{ blog.next_article }}">{% else %}<span>{% endif %}
      {{ 'blogs.article_pagination.next' | t }}
      {% if blog.next_article %}</a>{% else %}</span>{% endif %}
    </div>
  </div>
  {% endif %}

  {% if article.comments_enabled? %}

  <div class="post-comments" id="comments">

    {% if article.comments_count > 0 %}
      <div class="post-comments-list">

        <h3 class="section-title">{{ 'blogs.comments.title' | t }}</h3>

        {% paginate article.comments by 10 %}
          {% for comment in article.comments %}
            <div class="post-comment rte" id="comment-{{ comment.id }}">
              <p class="post-comment-author">{{ comment.author }}:</p>

              {{ comment.content }}

              <p class="post-comment-date meta">{{ comment.created_at | date: format: "short_month" }}</p>
            </div>
          {% endfor %}

          {% if paginate.previous or paginate.next %}
            {% include 'pagination' %}
          {% endif %}

        {% endpaginate %}
      </div>
    {% endif %}

    <div class="post-comments-submit">
      <h3>{{ 'blogs.comments.form_header' | t }}</h3>

      {% form article %}

        {% if form.posted_successfully? %}
          <p>
          {% if blog.moderated? %}
            {{ 'blogs.comments.comment_pending' | t }}
          {% else %}
            {{ 'blogs.comments.comment_success' | t }}
          {% endif %}
          </p>
        {% endif %}

        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}

        {% unless form.posted_successfully? %}
          <div class="input-wrapper {% if form.errors contains "author" %}error{% endif %}">
            <label>{{ 'general.general.name' | t }}</label>
            <input type="text" placeholder="{{ 'general.general.name_placeholder' | t }}" value="{{ form.author }}" name="comment[author]">
          </div>

          <div class="input-wrapper {% if form.errors contains "email" %}error{% endif %}">
            <label>{{ 'general.general.email' | t }}</label>
            <input type="email" placeholder="{{ 'general.general.email_placeholder' | t }}" value="{{ form.email }}" name="comment[email]">
          </div>

          <div class="input-wrapper {% if form.errors contains "body" %}error{% endif %}">
            <label>{{ 'general.general.message' | t }}</label>
            <textarea name="comment[body]" rows="11">{{ form.body }}</textarea>
          </div>

          <div class="input-wrapper">
            <input type="submit" value="{{ 'blogs.comments.submit' | t }}">
          </div>
        {% endunless %}

      {% endform %}
    </div>

  </div>
  {% endif %}
</div>