{% assign pageurl = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: '?' | last %} 
<div class="blog-header">
  <div class="background-img">
    <img src="https://cdn.shopify.com/s/files/1/0046/7061/9721/files/gabriella-clare-marino-ge7gpOFY-fA-unsplash_1.jpg?v=1622155404">
  </div>
  <div class="blog-title">
    Blog
    <div>Pauline's Kitchen</div>
  </div>
</div>
<div class="blog-filter">
  <div>
    <span> Filter By</span>
	<a href="/blogs/all" class="filter-item filter-all active">All</a>
    <a href="/blogs/all/tagged/recipes" class="filter-item filter-recipes">Recipes</a>
    <a href="/blogs/all/tagged/playlists" class="filter-item filter-playlists">Playlists</a>
    <a href="/blogs/all/tagged/article" class="filter-item filter-news">Articles</a>
  </div>
</div>
{% comment %}
<div class="latest-article">
{% for article in blog.articles limit: 1 %} 
  {% if article.image %}
  <div class="post-image">
    {% if template == 'article' %}
    {%
            include 'rimg',
    img: article.image,
    alt: article.title,
    size: '1080x640',
    lazy: true,
    canvas: true
    %}
    {% else %}
    <a href="{{ article.url }}">
      {%
              include 'rimg',
      img: article.image,
      alt: article.title,
      size: '1080x640',
      lazy: true,
      canvas: true
      %}
    </a>
    {% endif %}
  </div>
  {% endif %}
  <div class="article-des">
    <div class="article-tag">
      Featured
    </div>
    <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
    <div class="post-des">
    {% if article.excerpt != blank %}
      {{ article.excerpt }}
    {% else %}
      <p>{{ article.content | strip_html | truncatewords: 50 }}</p>
    {% endif %}
    </div>
    <p class="blog-cta">
      <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
    </p>
  </div>
{% endfor %}
</div>
{% endcomment %}
<div class="main_content home-module-content">

  <div class="blog-posts all-posts">
    {% paginate blog.articles by 16 %}
    <div>
      {% for article in blog.articles %}
      {% include 'article-list-item' %}
      {% endfor %}
    </div>

    {% if paginate.previous or paginate.next %}
    {% include 'pagination' %}
    {% endif %}

    {% endpaginate %}
  </div>

  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    var url = window.location.href;
    if(url == 'https://gratsi.com/blogs/all/tagged/playlists') {
      $('.filter-item').removeClass('active');
      $('.filter-playlists').addClass('active');
    }
    else if(url == 'https://gratsi.com/blogs/all/tagged/recipes') {
      $('.filter-item').removeClass('active');
      $('.filter-recipes').addClass('active');
    }
    else if (url == 'https://gratsi.com/blogs/all/tagged/article') {
      $('.filter-item').removeClass('active');
      $('.filter-news').addClass('active');
    }
    else {
      $('.filter-item').removeClass('active');
      $('.filter-all').addClass('active');
    }
  });
</script>