{% layout none %}
<template data-options>
  {
    "itemsSubtotalPrice": {{ cart.items_subtotal_price | money | json }},
    "totalDiscount": {{ cart.total_discount | money | json }},
    "totalPrice": {{ cart.total_price | money | json }}
  }
</template>

<template data-html="table">
  {% include 'cart-table' %}
</template>

<template data-html="discounts">
  {% include 'cart-discounts' %}
</template>
