<div class="rte">
  {{ page.content }}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/PYUOzAm9rL82wAro-e5B-A" async></script>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="90828"></div>
</div>
