{% layout none %}

<!doctype html>
<!--[if IE 7]><html class="no-js ie7 lt-ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; {{ 'blogs.blog.seo_title' | t }} "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  {{ content_for_header }}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    window.Pacific = {};
    Pacific.settings = {{ settings | json }};
  </script>

  {% assign twitter_handle = settings.social-twitter-url | split: 'twitter.com/' | last %}
  {%
    include 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  <!-- Theme object -->
  {% include 'theme-options' %}

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

      {% section 'password' %}

  <div class="main-footer-wrapper">
    <footer class="main-footer">
      <div class="copyright">

        {% capture year %}
          {{ "now" | date: "%Y" }}
        {% endcapture %}

        {% capture shopName %}{{ shop.name | link_to: routes.root_url }}{% endcapture %}

        <p role="contentinfo">
          {{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }}<br>
          {{ powered_by_link }}.
        </p>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script
    src="{{ 'pacific.js' | asset_url }}"
    data-scripts
    data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
    data-shopify-common-url="{{ 'shopify_common.js' | shopify_asset_url }}"
    data-jquery-currencies-url="{{ 'jquery.currencies.js' | asset_url }}"
    data-jquery-templates-url="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"
    data-jquery-cart-url="{{ 'jquery.cart.min.js' | asset_url }}"
    data-countries-url="/services/javascripts/countries.js"
    data-customer-area-url="{{ 'customer_area.js'  | shopify_asset_url }}"
  ></script>

</body>
</html>
