{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}
  <form class="search-form" action="/search" method="get">
    <div class="search-input">
      <input name="q" type="text" placeholder="{{ 'general.search.input_placeholder' | t }}" value="{{ search.terms | escape }}" />
    </div>
    <div class="search-submit">
      <input type="submit" value="{{ 'general.search.submit' | t }}" />
    </div>
  </form>

  {% paginate search.results by 12 %}
  <div class="search-results-wrapper">

    {% if search.performed %}

      <div class="search-results-count">
        {% capture results %}<em>{{ search.terms }}</em>{% endcapture %}
        <h3>{{ 'general.search.results_html' | t: search_terms: results }}</h3>

        {% if search.results_count == 0 %}
          <p>{{ 'general.search.no_results_html' | t: search_terms: results }}</p>
        {% endif %}
      </div>

      {% if search.results.size > 0 %}
        <div class="search-results rows-of-3">
          {% for item in search.results %}

            {% if item.object_type == 'product' %}
              {% include "product-list-item" with item %}
            {% else %}
              <div class="search-results-item clearfix">

                <div class="search-results-data">
                  {% if item.object_type == 'article' %}
                    {% if item.image %}
                      {%
                        include 'rimg',
                        img: item.image,
                        alt: item.title,
                        size: '600x',
                        class: 'item-image',
                        lazy: true
                      %}
                    {% endif %}
                    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                    <p class="meta">{{ item.published_at | date: "%b %d, %Y" }}</p>
                    <p>{{ item.excerpt_or_content | strip_html | truncatewords: 30 | highlight: search.terms }}</p>
                  {% else %}
                    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                    <p>{{ item.content | strip_html | truncatewords: 30 | highlight: search.terms }}</p>
                  {% endif %}

                  {% assign readMoreText = 'Read more' %}
                  {% if settings.blog-read-more-text != blank %}
                    {% assign readMoreText = settings.blog-read-more-text %}
                  {% endif %}

                  <p><a class="post-read-more meta" href="{{ item.url }}">{{ readMoreText }}</a></p>
                </div>

              </div>
            {% endif %}

          {% endfor %}
        </div>
      {% endif %}

      {% if paginate.previous or paginate.next %}
        {% include 'pagination' %}
      {% endif %}

    {% endif %}
  </div>
  {% endpaginate %}

{% else %}

  {% layout none %}

{% endunless %}
