{% layout none %}

{% paginate search.results by 20 %}
{%
  include 'live-search-results-data',
  results: search.results,
  results_count: search.results_count,
  terms: search.terms,
%}
{% endpaginate %}
